# Xcode
#
.DS_Store
*/.DS_Store
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
!default.pbxuser
*.xcworkspace
*.xcworkspacedata
*.pbxproj
*.xccheckout
*.moved-aside
DerivedData
.idea/
*.hmap

# Android/IntelliJ
#
build/
*.apk
*.ap_
*.aab
*.dex
bin/
gen/
out/
*.lock
*.log
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
local.properties
gradle.local.properties
*.iml
*.kotlin_module
/captures

# node.js
#
node_modules/
npm-debug.log
yarn.lock
yarn-error.log

# React Native
*.expo
.expo/*
node_modules/
ios/Pods/
android/.gradle
android/.idea
android/app/build/
android/captures/
android/local.properties
android/gradle.properties
android/gradlew
android/gradlew.bat
